'.source.coffee':

    ##░░░░░░░░░░░░░░░░░░░░░░░░░░░
    ##
    ##    DIRECTORY
    ##
    ##    _Debug
    ##
    ##░░░░░░░░░░░░░░░░░░░░░░░░░░░

    ##≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
    ## _Debug
    ##≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡

    'Log':
        'prefix': '_'
        'body': 'console.log $1'
