'.text.html.php':

	##░░░░░░░░░░░░░░░░░░░░░░░░░░░
	##
	##    DIRECTORY
	##
	##    _FileSetup
	##      ∟Basic
	##      ∟Template
	##      ∟Header
	##      ∟Footer
	##    _Debug
	##    _GetMenu
	##    _Loops
	##      ∟WPQuery
	##      ∟PostLoop
	##
	##░░░░░░░░░░░░░░░░░░░░░░░░░░░

	##≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	## _FileSetup
	##≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	##∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴
	## ∟Basic
	##∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴

	'WP Page Setup':
		'prefix': 'start'
		'body': """
			<?php get_header(); ?>

				$1

			<?php get_footer(); ?>
		"""

	##∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴
	## ∟Template
	##∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴

	'Template Setup':
		'prefix': 'template'
		'body': """
			<?php /* Template Name: ${1:Template Name} */ ?>
			<?php get_header(); ?>

				$2

			<?php get_footer(); ?>
		"""

	##∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴
	## ∟Header
	##∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴

	'WP Header':
		'prefix': 'header'
		'body': '<?php get_header(); ?>$1'

	##∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴
	## ∟Footer
	##∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴

	'WP Footer':
		'prefix': 'footer'
		'body': '<?php get_footer(); ?>$1'


	##≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	## _Debug
	##≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡

	'Log':
		'prefix': '_'
		'body': '<?php _log( $1 ); ?>$2'


	##≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	## _GetMenu
	##≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡

	'WP Nav Menu':
		'prefix': 'menu'
		'body': """
			<?php
				\$nav_args = array(
					${1:'theme_location'  => '${2:main-menu}',}
					${3:'fallback_cb'     => false,}
					${4:'container'       => '${5:div}',}
					${6:'container_class' => '${7:nav}',}
					${8:'items_wrap'      => '<ul id="%1\$s" class="%2\$s">%3\$s</ul>',}
				);
				wp_nav_menu(\$nav_args);
			?>$9
		"""


	##≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	## _Loops
	##≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	##∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴
	## ∟WPQuery
	##∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴

	'WP Query':
		'prefix': 'wpquery'
		'body': """
			<?php
				\$args = array(
					'post_type'      => '${1:Post_Type}',
					'posts_per_page' => ${2:-1},
					'order'          => 'ASC',
				);

				${3:// Remove Unnecessary Querying
				${4:\$args['no_found_rows']          = true;  // Removes Pagination Query}
				${5:\$args['update_post_meta_cache'] = false; // Removes Meta Query}
				${6:\$args['update_post_term_cache'] = false; // Removes Term Query}
}
				\$the_query = new WP_Query( \$args );
			?>

			<?php if ( \$the_query->have_posts() ) : ?>
				<?php while ( \$the_query->have_posts() ) : \$the_query->the_post(); ?>

					$7

				<?php endwhile; ?>
			<?php endif; ?>
			<?php wp_reset_postdata(); ?>$8
		"""

	##∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴
	## ∟PostLoop
	##∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴∵∴

	'WP Post Loop':
		'prefix': 'loop'
		'body': """
			<?php if ( have_posts() ) : ?>

				<?php while ( have_posts() ) : the_post(); ?>
					<h1><?php the_title(); ?></h1>

					<?php the_content(); ?>

				<?php endwhile; ?>

			<?php endif; ?>
			<?php wp_reset_postdata(); ?>
		"""